@use '../abstracts';

body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	padding: abstracts.$spacing-400 abstracts.$spacing-200;
}

.testimonials {
	width: 100%;
	max-width: 111.4rem;
	display: grid;

	grid-auto-columns: 1fr;

	gap: abstracts.$spacing-400;

	@include abstracts.small-device {
		grid-template-areas:
			'one'
			'two'
			'three'
			'four'
			'five';
	}

	@include abstracts.medium-device {
		grid-template-areas:
			'one one'
			'two three'
			'four four'
			'five five';
	}

	@include abstracts.big-device {
		grid-template-areas:
			'one one two five'
			'three four four five';
	}

	.testimonial-card {
		border-radius: 0.8rem;
		padding: abstracts.$spacing-400;
		box-shadow: 4rem 6rem 5rem -4.7rem rgba(72, 85, 106, 0.25);
		position: relative;

		&:nth-of-type(1) {
			background-color: abstracts.$purple-500;
			color: white;
			grid-area: one;

			&::before {
				content: '';
				opacity: 0.8;
				width: 10.4rem;
				height: 10.2rem;
				display: block;
				position: absolute;
				background-size: cover;
				mix-blend-mode: lighten;
				background-repeat: no-repeat;
				background-image: url('../images/bg-pattern-quotation.svg');

				@include abstracts.medium-device-max {
					top: 2rem;
					right: 2rem;
				}

				@include abstracts.big-device {
					top: 0;
					right: 6rem;
				}
			}
		}
		&:nth-of-type(2) {
			background-color: abstracts.$grey-500;
			color: white;
			grid-area: two;
		}
		&:nth-of-type(3) {
			background-color: white;
			color: abstracts.$grey-500;
			grid-area: three;
		}
		&:nth-of-type(4) {
			background-color: abstracts.$darkBlue;
			color: abstracts.$grey-200;
			grid-area: four;
		}
		&:nth-of-type(5) {
			background-color: white;
			color: abstracts.$grey-500;
			grid-area: five;
		}

		.author-info {
			display: inline-grid;
			align-items: center;
			gap: abstracts.$spacing-200;
			grid-template-columns: repeat(2, auto);

			.avatar {
				display: block;
				width: 2.8rem;
				height: auto;
				border-radius: 50%;
			}

			.author-details {
				display: grid;

				strong {
					@include abstracts.text-preset-2;
				}

				.verified {
					@include abstracts.text-preset-4;
				}
			}
		}

		blockquote {
			margin-block-start: abstracts.$spacing-200;
			.highlight {
				@include abstracts.text-preset-1;
				display: block;
			}
			.quote-text {
				@include abstracts.text-preset-3;
				display: block;
				margin-block-start: abstracts.$spacing-200;
			}
		}
	}
}
