// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Design system variables

/// Colors
/// @type Color
$black: #121212;
$darkBlue: #19202d;

$grey-100: #e7eaee;
$grey-200: #cfcfcf;
$grey-400: #676d7e;
$grey-500: #48556a;

$purple-50: #ede4ff;
$purple-300: #a775f1;
$purple-500: #733fc8;

/// Spacings
/// @type Length
$spacing-100: .8rem;
$spacing-200: 1.6rem;
$spacing-300: 2.4rem;
$spacing-400: 3.2rem;
$spacing-500: 4rem;


/// Breakpoints
$breakpoint-desktop-min: 1025px;
$breakpoint-tablet-max: 1024px;
$breakpoint-tablet-min: 641px;
$breakpoint-mobile-max: 640px;







